.logo-bar {
    // background-color: black;
}

.logo {
    margin: 10px;
    max-height: 60px;
}

#top-nav {
  background-color: #344A73;
  color: white;
}

.flex-fill {
  flex: 1 1 auto;
}

.presentation-wrapper {
    float: left;
    width: 50%;

}

.upcoming-events-wrapper {
    float: right;
    width: 50%;
}

p {
    text-align: center;
    font-size: 25px;
    margin-bottom: 50px;
}

.left-title {
    text-align: left;

}

.right-title {
    text-align: center;
}

