.logo {
    max-height: 80px;
}

.menu-left {
    float: left;
    width: 48%;
}

.menu-right {
    float: right;
    width: 48%;
    text-align: right;
}

.presentation-wrapper {
    float: left;
    width: 50%;
    
}

.upcoming-events-wrapper {
    float: right;
    width: 50%;
}

 p {
    text-align: center;
    font-size: 25px;
    margin-bottom: 50px;
    font-family: 'Fredoka One', cursive;
}

.left-title {
    margin-left: 150px;
    font-family: 'Fredoka One', cursive;
}

.right-title {
    text-align: center;
    font-family: 'Fredoka One', cursive;
}