<header class="logo-bar">
  <a [routerLink]="['/']"><img class="logo" src="assets/img/logo.svg" alt="Fullstackers.io"></a>
</header>

<nav>
  <mat-toolbar id="top-nav">
    <!--<button mat-button>-->
      <!--<mat-icon>menu</mat-icon>-->
    <!--</button>-->
    <a [routerLink]="['/']" mat-button>
      <mat-icon>home</mat-icon>
    </a>
    <a mat-button [routerLink]="['/presentations']">Presentations</a>
    <a mat-button [routerLink]="['/meetings']">Meetings</a>
    <a mat-button [routerLink]="['/resources']">Resources</a>
    <a mat-button [routerLink]="['/presenter-tips']">Presenter Tips</a>
    <span class="flex-fill"></span>
    <a mat-button href="https://github.com/fullstackersio" target="_blank">
      <fa name="github" size="lg"></fa>
    </a>
    <a mat-button href="https://stl-tech.slack.com/" target="_blank">
      <fa name="slack" size="lg"></fa>
    </a>
    <button mat-button>
      <mat-icon>search</mat-icon>
    </button>
  </mat-toolbar>
</nav>

<section id="main">
  <router-outlet></router-outlet>
</section>
