.logo {
    max-height: 80px;
}

.menu-left {
    float: left;
    width: 48%;
}

.menu-right {
    float: right;
    width: 48%;
    text-align: right;
}

.presentation-wrapper {
    float: left;
    width: 50%;
    
}

.upcoming-events-wrapper {
    float: right;
    width: 50%;
}

 p {
    text-align: center;
    font-size: 25px;
    margin-bottom: 50px;
   
}

.left-title {
    text-align: left;
  
}

.right-title {
    text-align: center;
  
<<<<<<< HEAD
}
=======
}
>>>>>>> 5f6bb7e132635b1ecdbffa1da09aa3fc1a968b16
