<div class="container">
  <section id="main-content">
    <fsio-main-content></fsio-main-content>
  </section>
  <section id="recent-presentations">
    <ng-container *ngIf="presentations$ | async as presentations">
      <fsio-presentation-preview *ngFor="let presentation of presentations;" [presentation]="presentation"></fsio-presentation-preview>
    </ng-container>
  </section>
  <section id="upcoming-meetings">
    <ng-container *ngIf="events$ | async as events">
      <fsio-upcoming-meeting *ngFor="let event of events" [upcomingEvent]="event"></fsio-upcoming-meeting>
    </ng-container>
  </section>
</div>
