<div class="container">
  <section id="main-content">
    <fsio-main-content></fsio-main-content>
  </section>
  <section id="recent-presentations">
    <!-- This should be a for loop of presentation preview components -->
    <ng-container *ngIf="presentations$ | async as results">
      <fsio-presentation-preview *ngFor="let presentation of results;" [presentation]="presentation"></fsio-presentation-preview>
      <ng-template #loading>
        <div>Loading... Please wait!</div>
      </ng-template>
    </ng-container>
  </section>
  <section id="upcoming-meetings">
    <!-- This should be a for loop of upcoming meeting components -->
    <ng-container>
      <fsio-upcoming-meeting></fsio-upcoming-meeting>
    </ng-container>
  </section>
</div>
